.lobby-panel {
  display: table-cell;
  min-width: 100%;
  min-height: 67px;
  margin: 4px 0;
  padding: 0 6px;
  /*background-color: #125E7F;*/
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.lobby-panel i.fa-user {
  /*background-color: #60767F;*/
}

.lobby-panel .info {
  float: right;
}

.lobby-panel * {
  display: inline-block;
}

.text-active {
  color: red;
}
